<h1 class="recipe_name"><%= t("homepage.edit_recipe") %><span> <%=@recipe.name%><span></h1>
  <div class="links_nav">
    &#8678; <%=  link_to(t("recipe.back_to"), recipe_path(@recipe)) %>
  </div>


<%= render 'recipes/form_new_recipe', recipe: @recipe, category: @category, categories: @categories %>
