<h3><span class = "hunts_link_back">&#8678; <%= link_to('Back to recipes', recipes_path) %></span></h3>


<h2 class = "create_hunt">Create your recipe:</h2>

<%= render 'recipes/form_new_recipe', recipe: @recipe, categories: @categories %>
