<div class="user_info" id="user_info">
    <div class="edit_profile">
      <% if current_user && current_user[:id] == @user.id %>
        <%= link_to t("user.edit_profile"), edit_user_path%>
        <%= link_to t("user.delete_profile"), user_path(@user) ,method: :delete, data: {confirm: t("user.sure_to_delete_profile")} %>
      <% end %>
    </div>
</div>
