<div class="about">

  <div class = "about_me">
    <h1><span>De moi: </span></h1>
      <div class = "pic_text">
        <div class="me_pic">
          <%= image_tag 'cf_pic.jpg', :class => "pic_img" %>
        </div>
        <p>Constantine Fleshtor |
        <a href="https://www.linkedin.com/in/constantinefleshtor/"> LinkedIn</a></p>
        <p>L'analyste financier senior avec 10 ans d'experience qui a quitte le monde corporate
          pour devenir un developpeur web en poursuivant un hobby de coder.
          Comme cela est un gros changement professionel j'ai complete un cours de developpeur web full stack
          au bootcamp Bitmaker et je suis motive d'approfondire mes connaissances dans la matiere
        </p>
      </div>
  </div>

  <div class = "about_project">
    <h1><span>The idea behind the app: </span></h1><p>This web app helps organize recipes. The main distinctive feature of the app
    is to allow easy screencaptures and storage of recipes found on the web in addition to manual entry.</p>
    <h1><span>The practical aspect of the app: </span></h1><p>This app is a testing ground of skills and techniques acquired
    in the path towards mastery of CSS, responsive design, Ruby on Rails, MVC design, I18n, testing, Javascript.</p>
    <h2>The model:</h2>
    <div class="model_pic">
      <%= image_tag 'Cookbook model.png', :class => "model_img" %>
    </div>
  </div>

</div>
