* {
  // box-sizing: border-box;
}

html{
  font-family: 'Ruluko', sans-serif;
}

main {
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url("apicius.jpg");
  height: 100vh;
  // background-image: url("apicius.jpg");
  background-repeat: no-repeat;
  // background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}

.lang_switch {
  text-align: right;
}

#switch_lang {
  position: relative;
  top: 5rem;
  right: 2rem;
  padding: 1rem 5rem;
  font-size: 4rem;
  a{
    padding: 0.5rem;
  }
  a:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  @media screen and (max-width: 1500px) {
    top: 0;
    font-size: 3rem;
    padding: 0;
  }
  @media screen and (max-width: 1200px) {
    top: 0;
    font-size: 2.5rem;
    padding: 0;
  }
  @media screen and (max-width: 900px) {
    top: 0;
    font-size: 2.25rem;
    padding: 0;
  }
  @media screen and (max-width: 600px) {
    top: 0;
    font-size: 2rem;
    padding: 0;
  }
}

.surf_history {
  display: table;
  padding: 1rem;
  text-align: left;
  position: absolute;
  top: -2rem;
  font-size: 1rem;
  margin: 2rem 0;
  @media screen and (max-width: 900px) {
    left: 0.5rem;
    visibility: hidden;
  }
  ul {
    @media screen and (max-width: 1200px) {
      padding: 0;
      font-size: 0.9rem;
    }
    @media screen and (max-width: 600px) {
      left: 0.5rem;
      font-size: 0.75rem;
    }
  }
}

a {
  text-decoration: none;
  font-weight: bold;
}

.navigation_bar {
  // position: relative;
  display: inline-block;
  top: -15rem;
}

.open_button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  // background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  // border: solid 2px black;
}

.top_top, .top_center, .top_bottom {
  @media screen and (max-width: 600px) {
    display: block;
    text-align: center;
  }
}

.user_options {
  padding: 1% 0;
  li {
    list-style-type: none;
    display: block;
  }
  a:hover {
    background-color: #f19f4d;
  }
  a {
    display: inline-block;
    background-color: #f19f4d;
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
    margin: 10px;
    color: white;
    border-radius: 7px;
    padding-right: 20px;
    padding-left: 20px;

    @media screen and (max-width: 1150px) {
      font-size: 1.75rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  .sign_in, .log_in {
    margin: 1%;
  }

  .signin_button, .login_button{
    padding: 0 1rem;
    font-size: 2rem;
    border-radius: 15px;

    @media screen and (max-width: 1150px) {
      font-size: 1.75rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.25rem;
    }
  }
  .search_field {
    width: 600px;
    font-size: 2rem;
    @media screen and (max-width: 1150px) {
      width: 25rem;
      font-size: 1.5rem;
    }
    @media screen and (max-width: 900px) {
      width: 20rem;
      font-size: 1.25rem;
    }
    @media screen and (max-width: 600px) {
      width: 11rem;
      font-size: 1rem;
    }
  }

}

.nav_1 {
  text-align: center;
  .top_top {
    .logo_text {
      box-sizing: border-box;
      text-decoration: none;
      color: white;
      font-size: 100px;
      display: inline;
      // float: left;
      text-shadow:
        4px 4px 0 #000,
      -2px -2px 0 #000,
       2px -2px 0 #000,
       -2px 2px 0 #000,
        2px 2px 0 #000;
      @media screen and (max-width: 1200px) {
        font-size: 60px;
      }
      @media screen and (max-width: 800px) {
        font-size: 40px;
      }
      a {
        color: white;
      }
    }
    .logo_img {
      vertical-align: middle;
      @media screen and (max-width: 800px) {
        width: 200px;
      }
      @media screen and (max-width: 600px) {
        width: 150px;
      }
    }
  }
  .top_centre {
    padding: 10px;
    right: 50px;
    top: 70px;
    p {
      font-size: 2em;
      margin: 0px;
      padding-bottom: 0.5em;
      @media screen and (max-width: 1200px) {
        font-size: 1.75rem;
      }
      @media screen and (max-width: 900px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 1.25rem;
      }
    }
    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }
  .top_bottom {
    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }
}

.nav_2 {
  padding: 5% 0.5rem 0.5rem;
  text-align: center;
  .search_bar {
    display: inline;
    position: relative;
    #search_form {
      display: inline-flex
    }
  }
  .open_nav {
    margin-left: 150px;
    .open_button {

    }
    span {
      font-size: 100px;
    }
  }
}


h1{
  color: white;
  text-align: center;
}


footer {
  // position: relative;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.1);
}

.info_nav {
  .info_list {
    list-style-type: none;
    text-align: center;
    display: inline;
    li {
      color: black;
      display: inline;
      padding: 0 1rem;

    }
    a, p {
      color: black;
      padding: 3px;
      font-size: 1.5rem;
      @media screen and (max-width: 1200px) {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 900px) {
        font-size: 1.1rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }
  }
}

//styling for most popular recipes

.most_popular {
  margin: 0 10% 0;
  h2 {
    @media screen and (max-width: 1200px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 900px) {
      font-size: 1.75rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
    }
  }
  .most_viewed_block {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: auto;
    padding: 0.5em;
    @media screen and (max-width: 1500px) {
      grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    }
    @media screen and (max-width: 1100px) {
      grid-template-columns: 20% 20% 20% 20% 20%;
    }
    @media screen and (max-width: 700px) {
      grid-template-columns: 50% 50%;
    }
    .index_recipe h3 {
      font-size: 1.25rem;
      span {
        word-wrap: break-word;
        font-size: 1rem;
        @media screen and (max-width: 900px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 600px) {
          font-size: 0.8rem;
        }
      }
    }
  }
  .most_viewed {
    margin: 0;
  }
}

//styling for error messages
.flash_message {
  margin-top: 1%;
  padding: 3% 0 1% 0;
}

.flash-notice, .flash-alert, .flash-warning, .flash-info {
  display: inline-block;
  margin: 0.5rem;
  font-size: 1.5em;
  padding: 1%;
}

.flash-alert {
  border: red;
  border-style: dashed;
}

.error_message {
 font-size: 1.5em;
 color: red;
}

.error_css {
  h2 {
    color: red;
    margin: 0;
  }
  ul {
    text-align: left;
    font-size: 1.5rem;
    color: red;
  }
}
