// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.block > .index_recipe {
  a {
  color: rgb(155, 81, 21);
  font-size: 30px;
  }
  span {
    font-size: 25px;
    a {
      color: rgb(60, 68, 79);
    }
    a:hover {
      color: red;
    }
  }
}

.sign_up_form {
  border: 1px solid #96dbe8;
  text-align: center;
  display: none;
  width: 350px;
  margin: 20px auto 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  box-shadow: 0 2px 5px #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 130px;
  z-index: 600;
  background-color: white;
  left: 40%;
  @media screen and (max-width: 1250px) {
    margin: auto;
    left: 30%;
    width: 300px;
  }
  @media screen and (max-width: 750px) {
    margin: auto;
    left: 5%;
    width: 250px;
    top: 10%;
  }
  .name_field, .password_field {
    h3 {
      margin-bottom: 0.5rem;
    }
  }
}

.edit_user {
  display: block;
  border: 1px solid #96dbe8;
  text-align: center;
  width: 350px;
  margin: 50px auto 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  box-shadow: 0 2px 5px #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background-color: white;
  left: 40%;
  bottom: 5%;
}
.security {
  border: none;
}

.submit {
  text-align: center;
  padding-top: 10px;
  width: 100%;
  padding: 10px;
}

button {
  border: 0;
  background: rgb(204, 148, 93);
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

#cancel_button {
  font-size: 2rem;
  position: relative;
  left: 25rem;
  @media screen and (max-width: 1200px) {
    left: 20rem;
  }
  @media screen and (max-width: 900px) {
    left: 16rem;
  }
  @media screen and (max-width: 600px) {
    left: 7rem;
  }
}

.close_sign_up {
  text-align: right;
}

#user_info {
  margin-bottom: 50px;
  p {
    font-size: 35px;
  }
  h1 {
    color: rgb(60, 68, 79);
    font-weight:bold;
    font-size: 3em;
    padding: 2%;
  }

}

h2 {
  color: rgb(60, 68, 79);
  padding: 1%;
  font-weight:bold;
  font-size: 2.5em;
}

.edit_profile {
  margin: 10px;
  a {
    width: 100%;
    margin: 1%;
    padding: 10px;
    background: #f19f4d;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
  }
}

.overlay:sign_up_form .popup {
  animation: popup 0.7s;
}

@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1);
  }
}
