// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 35px;
  }
  p {
    text-align: center;
    position: relative;
    margin-top: 5px;
    font-size: 25px;

  }

// .images_content {
//   // grid-column: 1/5;
//   // grid-row: 2/3;
//   // position: relative;
//   margin: 1rem 2% 2% 2%;
//     .image {
//       display: inline-block;
//       width: 25%;
//       height:  400px;
//       @media screen and (max-width: 1250px) {
//         margin: auto;
//         width: 35%;
//         height:  250px;
//       }
//       @media screen and (max-width: 750px) {
//         margin: auto;
//         width: 50%;
//         height:  150px;
//       }
//       img {
//         width: 100%;
//         height: 100%  ;
//       }
//     }
// }

.slideshow {
  margin: 0 auto;
  height: 550px;
  box-sizing: border-box;
  @media screen and (max-width: 1200px) {
    height: 500px;
  }
  @media screen and (max-width: 800px) {
    height: 350px;
  }
  @media screen and (max-width: 400px) {
    height: 250px;
  }
}

.content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor:pointer;
}

.content-carrousel div {
  width: 250px;
  height: 250px;
  border: 1px solid #4d444d;
  overflow:hidden;
  position: absolute;
  text-align: left;
    @media screen and (max-width: 1200px) {
      width: 200px;
      height: 200px;
    }
    @media screen and (max-width: 800px) {
      width: 150px;
      height: 150px;
    }
    @media screen and (max-width: 400px) {
      width: 100px;
      height: 100px;
    }
}

.content-carrousel div:nth-child(1) {
  transform: rotateY(0deg) translateZ(400px);
  @media screen and (max-width: 1200px) {
    transform: rotateY(0deg) translateZ(300px);
  }
  @media screen and (max-width: 800px) {
    transform: rotateY(0deg) translateZ(200px);
  }
  @media screen and (max-width: 400px) {
    transform: rotateY(0deg) translateZ(125px);
  }
}

.content-carrousel div:nth-child(2) {
  transform: rotateY(51deg) translateZ(400px);
  @media screen and (max-width: 1200px) {
    transform: rotateY(51deg) translateZ(300px);
  }
  @media screen and (max-width: 800px) {
    transform: rotateY(51deg) translateZ(200px);
  }
  @media screen and (max-width: 400px) {
    transform: rotateY(51deg) translateZ(125px);
  }
}

.content-carrousel div:nth-child(3) {
  transform: rotateY(102deg) translateZ(400px);
  @media screen and (max-width: 1200px) {
    transform: rotateY(102deg) translateZ(300px);
  }
  @media screen and (max-width: 800px) {
    transform: rotateY(102deg) translateZ(200px);
  }
  @media screen and (max-width: 400px) {
    transform: rotateY(102deg) translateZ(125px);
  }
}

.content-carrousel div:nth-child(4) {
  transform: rotateY(153deg) translateZ(400px);
  @media screen and (max-width: 1200px) {
    transform: rotateY(153deg) translateZ(300px);
  }
  @media screen and (max-width: 800px) {
    transform: rotateY(153deg) translateZ(200px);
  }
  @media screen and (max-width: 400px) {
    transform: rotateY(153deg) translateZ(125px);
  }
}

.content-carrousel div:nth-child(5) {
  transform: rotateY(204deg) translateZ(400px);
  @media screen and (max-width: 1200px) {
    transform: rotateY(204deg) translateZ(300px);
  }
  @media screen and (max-width: 800px) {
    transform: rotateY(204deg) translateZ(200px);
  }
  @media screen and (max-width: 400px) {
    transform: rotateY(204deg) translateZ(125px);
  }
}

.content-carrousel div:nth-child(6) {
  transform: rotateY(255deg) translateZ(400px);
  @media screen and (max-width: 1200px) {
    transform: rotateY(255deg) translateZ(300px);
  }
  @media screen and (max-width: 800px) {
    transform: rotateY(255deg) translateZ(200px);
  }
  @media screen and (max-width: 400px) {
    transform: rotateY(255deg) translateZ(125px);
  }
}

.content-carrousel div:nth-child(7) {
  transform: rotateY(306deg) translateZ(400px);
  @media screen and (max-width: 1200px) {
    transform: rotateY(306deg) translateZ(300px);
  }
  @media screen and (max-width: 800px) {
    transform: rotateY(306deg) translateZ(200px);
  }
  @media screen and (max-width: 400px) {
    transform: rotateY(306deg) translateZ(125px);
  }
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 2px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}
@keyframes rotar {
  from {
    transform: rotateY(0deg);
  } to {
      transform: rotateY(360deg);
  }
}

.description_section {
  border-style: solid white;
  border-radius: 25px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  .description_content {
    padding: 20px;
    h2 {
      margin-bottom: 15px;
      text-align: center;
      font-size: 30px;
    }
    p {
      text-align: center;
      position: relative;
      margin-top: 5px;
      font-size: 22px;
    }
  }
}

.category_menu {
  text-align: center;
  grid-column: 1/5;
  grid-row: 3/4;
  display: inline-block;
  .categories {
    text-align: center;
    margin-bottom: 90px;
    margin-top: 2%;
    // background-color: red;
    .category {
      // background-image: url("https://foodrevolution.org/wp-content/uploads/2018/04/blog-featured-diabetes-20180406-1330.jpg");
      text-align: center;
      padding: 10px;
      display: inline-block;
      width: 250px;
      background-color: white;
      height: 250px;
      border-radius: 50%;
      margin-left: 50px;
      margin-right: 50px;
      border: solid 3px white;
      @media screen and (max-width: 1250px) {
        width: 225px;
        height: 225px;
      }
      @media screen and (max-width: 750px) {
        width: 200px;
        height: 200px;
      }
    }
      a:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        -webkit-box-shadow: 20px 25px 60px -30px rgba(0,0,0,0.57);
        -moz-box-shadow: 20px 25px 60px -30px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
        border: black;
      }
      @media screen and (max-width: 600px) {
        width: 45%;
      }
    .category_button {
      display: inline-flex;
      justify-content: space-between;
      margin-top: 1rem;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 3rem;

      a {
      font-weight: bold;
      border: none;
      background: #f19f4d;
      color: #ffffff !important;
      padding: 20px;
      border-radius: 6px;
      display: inline-block;
      }
      a:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
      }
    }
  }
}

.category_section {
  display: inline-block;
  margin-top: 1%;
}

#anti {
  background-image: image-url("antipasto.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#soup {
  background-image: url(image_path("soup.jpg"));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main {
  background-image: url(asset-path("lasagne.jpg"));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#side {
  background-image: asset-data-url("contorni.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

#dess {
  background-image: image-url("tiramisu_cat.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.search_form {
  width: 15%;
}

#recipe{
  border: 1px solid black;
}

body{
  text-align: center;
  // background: #00ECB9;
  font-weight: 100;
}

h1{
  font-weight: bold;
  font-size: 50px;
}

.team p {
  font-size: 50px;
}

/*about me formatting */

.about {
  h1 {
    color: rgb(60, 68, 79);
    font-size: 2rem;
    text-align: left;
  }
  p {
    font-size: 2rem;
    text-align: left;
    @media screen and (max-width: 1200px) {
      font-size: 1.75rem;
    }
    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.25rem;
    }
  }
  .about_me {
    text-align: left;
    padding: 0 5% 5%;

    .pic_text p {
      margin-right: 3%;
      padding-right: 5%;
    }
    .pic_img {
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
      width: 15%;
      @media screen and (max-width: 1200px) {
        margin-right: 15px;
        margin-bottom: 8px;
        width: 25%;
      }
      @media screen and (max-width: 900px) {
        margin-right: 10px;
        margin-bottom: 6px;
        width: 35%;
      }
      @media screen and (max-width: 600px) {
        margin-right: 5px;
        margin-bottom: 4px;
        width: 50%;
      }
    }
  }
  .about_project {
    padding: 0 5% 5%;
    h2 {
    margin-top: 50px;
    font-size: 2rem;
    color: rgb(60, 68, 79);
    }
    .model_pic img {
      width: 70%;
      @media screen and (max-width: 1200px) {
        width: 75%;
      }
      @media screen and (max-width: 900px) {
        width: 85%;
      }
      @media screen and (max-width: 600px) {
        width: 95%;
      }
    }
  }
}
